@layer base {
  @font-face {
    font-family: 'Great Vibes';
    src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  html,
  body,
  #root {
    min-height: 100dvh;
    min-width: 0;
    overflow-x: hidden;
  }

  button,
  [role='button'],
  [type='button'],
  [type='submit'],
  [type='reset'] {
    cursor: pointer;
  }
}
