@layer base {
  html,
  body,
  #root {
    min-height: 100dvh;
    min-width: 0;
    overflow-x: hidden;
  }

  button,
  [role='button'],
  [type='button'],
  [type='submit'],
  [type='reset'] {
    cursor: pointer;
  }
}
